zoneinfo
Makefile
Makefile.in
aclocal.m4
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/output.2
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
autom4te.cache/traces.2
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
vzic/Makefile
vzic/Makefile.in
vzic/config.h
vzic/config.h.in
vzic/cyr_vzic
vzic/cyr_vzic-vzic-dump.o
vzic/cyr_vzic-vzic-output.o
vzic/cyr_vzic-vzic-parse.o
vzic/cyr_vzic-vzic.o
vzic/stamp-h1
